<!DOCTYPE html>
<html>
<head>
	<title>UI Material</title>
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/amber-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/blue-grey-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/blue-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/brown-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/cyan-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/deep-orange-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/deep-purple-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/green-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/grey-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/indigo-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/light-blue-dark-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/light-green-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/lime-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/orange-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/pink-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/purple-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/red-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/teal-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/yellow-theme.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material-internal/dist/themes/netspend-theme.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="bower_components/hammerjs/hammer.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>

	<script type="text/javascript" src="scripts.js"></script>
</head>
<body
	ng-app="app"
	md-theme="netspend"
	ng-controller="AppCtrl"
	layout="horizontal"
>
	<md-sidenav
		class="md-sidenav-left md-whiteframe-z2"
		layout="vertical"
		component-id="left"
		tabindex="-1"
	>

		<md-toolbar>
			<h2 class="md-toolbar-tools">
				<span>Menu</span>
			</h2>
		</md-toolbar>

		<md-content class="md-padding" ng-controller="LeftCtrl">
			<md-button ng-click="close()" class="md-primary" hide-md>
				Close Sidenav Left
			</md-button>
			<p hide show-md>
				This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
			</p>
		</md-content>

	</md-sidenav>

	<div
		layout="vertical"
		layout-fill
		tabindex="-1"
		role="main"
	>

		<md-toolbar>
			<h2 class="md-toolbar-tools">
				<a ng-click="toggleLeft()" href="">
					<md-icon
						icon="menu-alt.svg"
						style="width: 32px; height: 32px;"
						class="menu-icon"
						ng-click="toggleLeft()"
					></md-icon>
				</a>
				<span>Material Example</span>
			</h2>
		</md-toolbar>

		<md-content flex class="md-padding" scroll-y flex layout-fill>
			<md-card ng-include="'buttons.ng.html'"></md-card>
		</md-content>
	</div>
</body>
</html>
